In [6]:
# List of high schools
high_schools = ['Hernandez High School', 'Figueroa High School', 'Wilson High School', 'Wright High School']

for school in high_schools:
   print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [ ]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [7]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [8]:
# Add the Pandas dependency
import pandas as pd

In [9]:
# Create a Pandas Series from a list
school_series = pd.Series(high_schools)

In [10]:
print(school_series)

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [45]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [46]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [47]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [48]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [18]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["School Type"] = type_of_school
schools_df

   School ID            School Name School Type
0          0      Huang High School    District
1          1   Figueroa High School    District
2          2    Shelton High School     Charter
3          3  Hernandez High School    District
4          4    Griffin High School     Charter

In [49]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [50]:
# Initialize a new DataFrame
high_schools_df = pd.DataFrame()
# Convert Python Dictionary to Data Frame
high_schools_df = high_schools_dict
high_schools_df

{'School ID': [0, 1, 2, 3, 4],
 'school_name': ['Huang High School',
  'Figueroa High School',
  'Shelton High School',
  'Hernandez High School',
  'Griffin High School'],
 'type': ['District', 'District', 'Charter', 'District', 'Charter']}

In [51]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [52]:
school_df.school_name

0     Huang High    School
1     Figueroa High School
2      Shelton High School
3    Hernandez High School
4      Griffin High School
Name: school_name, dtype: object

In [53]:
school_df.type

0    District
1    District
2     Charter
3    District
4     Charter
Name: type, dtype: object

In [54]:
#RangeIndex(start=0, stop=5, step=1)
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [58]:
# Create a list for each column
cnames = school_df.columns.values.tolist()
print(cnames)

['School ID', 'school_name', 'type']

In [59]:
cvalues = school_df.values.tolist()
print(cvalues)

[[0, 'Huang High    School', 'District'], [1, 'Figueroa High School', 'District'], [2, 'Shelton High School', 'Charter'], [3, 'Hernandez High School', 'District'], [4, 'Griffin High School', 'Charter']]

In [61]:
final_list = [cnames] + cvalues

In [62]:
final_list

[['School ID', 'school_name', 'type'],
 [0, 'Huang High    School', 'District'],
 [1, 'Figueroa High School', 'District'],
 [2, 'Shelton High School', 'Charter'],
 [3, 'Hernandez High School', 'District'],
 [4, 'Griffin High School', 'Charter']]

In [65]:
f = '{:<10}|{:<25}|{:<10}'
for l in final_list:
    print(f.format(*l))

School ID |school_name              |type
0         |Huang High    School     |District
1         |Figueroa High School     |District
2         |Shelton High School      |Charter
3         |Hernandez High School    |District
4         |Griffin High School      |Charter

In [ ]:
# Reorder the columns in the order you want them to appear.
new_column_order = ["column2", "column4", "column1"]

# Assign a new or the same DataFrame the new column order.
df = df[new_column_order]

In [ ]:
# Reorder the columns in the order you want them to appear.
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
district_summary_df = district_summary_df[new_column_order]
district_summary_df